
	h1 {
		font-size: 40px;
		line-height: 1.5;
		
	}

	body {
		background-image: url("https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg");
	}

	div.a {
		background-color: 	#D4AF37;
		text-align: right;
		font-size: 20px;
		border-style: solid;
	}

	div.b {
		text-align: center;
	}
